.wrapper {
    width: 100%;
    margin: 0 auto;
    color: #7b664b;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 20px;
}

.genreArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genreButton {
    border: 2px solid #7b664b;
    background-color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

.isActive {
    background-color: #0ffade;
}

.table {
    width: 100%;
    background-color: #b1fff6;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #7b664b;
}

.tableHead th {
    padding: 15px 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #7b664b;
    letter-spacing: 2px;
}

.tableBody td {
    padding: 15px 20px;
}

.tableBody td:nth-child(1) {
    width: 30%;
    padding-left: 10%;
}

.score:before {
    content: "スコア";
    margin-right: 10px;
}

.score:after {
    content: "てん";
}

@media screen and (max-width: 1200px) {
    .genreButton {
        height: 50px;
    }

.tableBody td {
    padding:15px 0px;
  }

    .wrapper {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        font-size: 10px;
    }
}
