.header {
    height: 200px;
    display: flex;
    align-items: center;
    font-family: "Cherry Bomb One", cursive;
    background: #ffc691;
    padding: 2rem 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.headerTextArea {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cornLogo {
    margin: 0 5rem;
}

.title {
    font-size: 5rem;
    display: inline-block;
    background: linear-gradient(90deg, #ffd1fa, #ffecbd);
    background: -webkit-linear-gradient(90deg, #ffecbd, #ffd1fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 5px #ff527b);
    -webkit-text-stroke: 4px #ff527b;
}

.subTitle {
    font-size: 2rem;
    color: #ff527b;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .haeder {
        height: 100px;
        text-align: center;
        padding: 0 !important;
    }

    .title {
        font-size: 100px;
    }

    .cornLogo {
        margin: 0 1rem;
        height: 100px;
        width: 100px;
    }

    .subTitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .haeder {
        height: 50px;
        text-align: center;
        padding: 0 !important;
    }

    .title {
        font-size: 40px;
    }
    .cornLogo {
        margin: 0 1rem;
        height: 70px;
        width: 70px;
    }
}
