.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: white;
    background-color: #1da1f2;
    font-size: 2rem;
}

.button p{
  margin-left: 10px;
}

.button:hover {
    opacity: 0.8;
    transition: 0.2s;
}
