.wrapper {
    display: flex;
}

.container {
    min-width: 800px;
    max-width: 800px;
    margin: 50px auto 100px;
}

.imageArea {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin-inline: auto;
}
