.themeArea {
    color: #ff527b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme {
    font-size: 70px;
    padding-inline: 30px;
}

.boxArea {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: "Mochiy Pop One", sans-serif;
}

.textArea {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1200px) {
    /* .cornLogo {
        height: 200px;
        width: 200px;
    } */
}

@media screen and (max-width:600px) {
    .themeArea {
        flex-direction: column;

    }

    .theme {
        font-size: 50px;
        padding-inline: 0;
    }

    .cornLogo {
        display: none;
    }
}