.result {
    color: #ff527b;
    text-align: center;
}

.inputNameArea {
    margin-top: 50px;
    font-size: 30px;
}
.resultArea {
    margin-top: 50px;
    margin-inline: auto;
    font-size: 70px;
}

.buttonArea {
    margin-inline: auto;
    max-width: 50%;
    width: 50%;
}

.award{
  font-size: 30px;
  margin-top: 10px;
}
