.txt {
    position: absolute;
    top: 200px;
    width: 100%;
    left: 0;
    height: 100vh;
    z-index: 1000000;
    background-color: rgba(255, 244, 142, 0.9);
}

.flexbox {
    display: flex;
    font-size: 5rem;
    color: #ff527b;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.howtouse {
    font-size: 30px;
    color: rgb(123, 102, 75);
    max-width: 80%;
    margin: 20px auto;
    font-family: "Mochiy Pop One", sans-serif;
}

@media screen and (max-width: 1200px) {
    .flexbox {
        font-size: 50px;
        margin: 10px;
    }

    .howtouse {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .flexbox {
        font-size: 40px;
        margin: 10px;
    }

    .howtouse {
        font-size: 30px;
    }

}