.button {
    width: 280px;
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 5px solid #ff527b;
    border-radius: 30px;
    color: #ff527b;
    background-color: #fffdc8;
    font-size: 2rem;
}

.button:hover {
    background-color: #ff527b;
    color: white;
    transition: 0.2s;
}
