.button {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin: auto;
	padding: 1rem 2rem;
  border: 5px solid #FF527B;
  border-radius: 30px;
  color: #FF527B;
  font-size: 2rem;
}

.button:hover {
  background-color: #FF527B;
  color: white;
	transition: 0.2s;
}
