.wrapper {
    width: 100%;
    color: #ff527b;
    background-color: #fffffe;
    width: 48%;
    border: 3px dashed #7b664b;
    padding: 3px 10px;
}

.heading {
    font-size: 35px;
    margin-bottom: 20px;
}

.listItem:before {
    content: "👉";
    margin-right: 10px;
}

.listItem {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
}
